@model List<Student>
@{int cntr = 0;}
<div class="col-9 text-center">
			
	<h2>Список Студентов</h2>
	
	<table width="500" class="table">
		<tr>
			<th>N</th>
			<th>ФИО</th>
			<th>Предмет</th>
			<th>Текущие баллы</th>
			<th>Баллы за рейтинг</th>
			<th>Стутус</th>
		</tr>
			@foreach(var student in Model)
			{
				<tr>
					<td>@(cntr++)</td>
					<td>@student.Name</td>
					<td>@student.Subject</td>
					<td>@student.CurrentPoint</td>
					<td>@student.RatingPoint</td>
					<td><select>
						<option value="Passed">Сдал</option>
						<option value="Expelled">Отчислен</option>
					</select></td>
					<td><a class="btn btn-primary" asp-controller="Rating" asp-action="Edit" asp-route-id="@student.Id">Редактировать</a></td>
				</tr>
			}
	</table>
	<a class="btn btn-primary" asp-controller="Rating" asp-action="Edit" asp-route-id="@null">Добавить студента</a>
		
</div>